* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(22, 143, 143);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(12, 92, 196, 0.503);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    background-color: rgb(48, 86, 168);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
}

button {
    width: 25%;
    padding: 10px;
    background-color: #2eca6f;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;

}

button:hover {
    background-color: #29b262;
}

#weather-info {
    margin-top: 20px;
}
.hidden {
    display: none;
}

#error-message {
    color: rgb(211, 16, 16);
    margin-top: 20px;
}
